<h3>People</h3>

<table class="table table-active">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email adress</th>
        </tr>
    </thead>
    <tbody>
        <TableRow />
    </tbody>
</table>
@code {

}
